{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Accounts</h1>
        <hr />
    </div>
    <div class="col-12 col-md-3 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Support</h5>
                -About -Contact
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Billing</h5>
                -Addresses
                -Payment Method
                -Orders
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Preferences</h5>
                -Name
                -Email
                -Password Reset
                -Email Marketing Preference
            </div>
        </div>
    </div>

    <div class="col-12 col-md-3 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">History</h5>
                -Products Viewed
            </div>
        </div>
    </div>


</div>



{% endblock %}
`
